.section-3 {
    padding: 1px 5% 5% 5%;
    background-color: var(--bg-color-1);
}

.section-3 .header {
    font-size: var(--font-size-xl);
    padding: 0;
    /* margin: 0; */
}

.section-3 .grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    gap: min(3vw, 30px);
}

.section-3 .grid .card-row {
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(100px, auto));
    gap: min(3vw, 30px);

}

.section-3 .grid .card-row .card {
    border-radius: clamp(20px, 3vw, 60px);
    overflow: hidden;
    position: relative;
}

.section-3 .grid .card-row .card img {
    display: block;
    height: clamp(350px, 50vw, 700px);
    width: 100%;
    object-fit: cover;
}


.section-3 .grid .card-row .card .btn {
    background-color: var(--bg-color-1);
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: var(--font-size-s);
    border-color: var(--bg-color-1);
}